{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
{% endblock breadcrumb %}
{% block content %}

<body>
    <div class="relative min-h-screen flex">
        <div
            class="
            flex flex-col
            sm:flex-row
            items-center
            md:items-start
            sm:justify-center
            md:justify-start
            flex-auto
            min-w-0
            bg-white
            "
        >
            <div
                class="
                    sm:w-1/2
                    xl:w-3/5
                    h-full
                    hidden
                    md:flex
                    flex-auto
                    items-center
                    justify-center
                    p-10
                    overflow-hidden
                    text-white
                    bg-no-repeat bg-cover
                    relative
                "
                style="background-image: url(../static/img/Beijing.jpg)"
            >
                <div
                    class="
                        absolute
                        bg-gradient-to-b
                        opacity-75
                        inset-0
                        z-0
                    "
                ></div>
                <div class="w-full max-w-md z-10">
                    <div class="sm:text-4xl xl:text-4xl font-bold leading-tight mb-6"
                        >欢迎来到阿红的个人博客</div
                    >
  
                </div>
  
            </div>
            <div
                class="
                  xl:w-2/5
                  md:items-center m-auto
                "
            >
                <div class="max-w-md w-full mx-auto space-y-8 ">
                    <div class="text-center ">
                        <h2 class="mt-6 text-3xl font-bold text-gray-900 ">欢迎登陆</h2>
                        <p class=" mt-2 text-l text-gray-900 ">使用第三方登录</p>
                        <p><a class="fa-brands fa-qq mr-4 text-xl cursor-pointer"></a></p>
                    </div>

                    {% if message %}
                    <div class="text-red-600 text-l border px-2 py-2 border-red-500 rounded-2xl ">
                        <strong>登陆失败 :</strong> {{ message }}
                    </div>
                    {% endif %}
  
                    <div class="flex items-center justify-center space-x-2">
                        <span class="h-px w-16 bg-gray-200"></span>
  
                        <span class="h-px w-16 bg-gray-200"></span>
                    </div>
                    <form class="mt-8 space-y-6" action="#" method="POST">
                      {% csrf_token %}
                        <input type="hidden" name="remember" value="true" />
                        <div class="relative">
                            <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide"
                                >{{ login_form.username.label }}</label>
                            <input
                                class="
                                    w-full
                                    text-base
                                    px-4
                                    py-2
                                    border-b border-gray-300
                                    focus:outline-none
                                    rounded-2xl
                                    focus:border-indigo-500
                                "
                                type=""
                                placeholder="请输入用户名"
                                name="username"
                            />
                        </div>
                        <div class="mt-8 content-center">
                            <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide"
                                >{{ login_form.password.label }}</label
                            >
                            <input
                                class="
                                    w-full
                                    content-center
                                    text-base
                                    px-4
                                    py-2
                                    border-b
                                    rounded-2xl
                                    border-gray-300
                                    focus:outline-none focus:border-indigo-500
                                "
                                type="password"
                                placeholder="请输入密码"
                                name="password"
                            />
                        </div>
  
  
                        <div>
                            <button
                                type="submit"
                                class="
                                    w-full
                                    flex
                                    justify-center
                                    bg-gradient-to-r
                                    from-indigo-500
                                    to-blue-600
                                    hover:bg-gradient-to-l
                                    hover:from-blue-500
                                    hover:to-indigo-600
                                    text-gray-100
                                    p-4
                                    rounded-full
                                    tracking-wide
                                    font-semibold
                                    shadow-lg
                                    cursor-pointer
                                    transition
                                    ease-in
                                    duration-500
                                "
                                >登陆</button
                            >
                        </div>
                        <p
                            class="
                                items-center
                                justify-center
                                mt-10
                                text-center text-md text-gray-500
                            "
                        >
                            <span>没有账号,立即注册</span>
                            <a
                                href="{% url 'register' %}"
                                target="_self"
                                class="
                                    text-indigo-400
                                    hover:text-blue-500
                                    no-underline
                                    hover:underline
                                    cursor-pointer
                                    transition
                                    ease-in
                                    duration-300
                                "
                                >立即注册</a
                            >
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div></body>


{% endblock content %}
{% block footer %}
{% endblock footer %}

