{% extends 'base.html' %}
{% load static %}
{% load core_extras %}
{% block breadcrumb %}
    <!--面包屑导航-->
    <nav class="py-3 px-5 text-blog-dary bg-gray-50">
        <div class="container px-2">
            <ol class="inline-flex items-center space-x-1 md:space-x-3  text-sm">
                <li><a href="/"><i class="fa fa-home"></i>首页</a></li>
                
                <li><i class="fa fa-chevron-right mr-2"></i><span class="text-gray-500">搜索</span> </li>
            </ol>
        </div>
    </nav>

{% endblock breadcrumb %}
{% block content %}


<!--主体内容-->
  <main class="container my-4 flex flex-col md:flex-row items-start">
    <div class="w-full bg-white p-2 md:w-3/4 md:mr-4">
        <!--左边栏博客-->
       
        {% for item in items %}
        <div class="flex flex-col md:flex-row justify-between items-center mb-4 border-b-2 border-b-gray-100  ">
        
            <div class="w-full  md:mr-2 mt-2 md:mt-0 ">
                <h3 class="texe-lg "><a href="{{item.get_absolute_url}}">{{item.title|highlight:request.GET.q|safe}}</a></h3>
                <p class="my-2 ">{{item.summary}}</p>
            </div>
      
        </div>
        {% endfor %}



        <!--分页按钮-->

        <div class="container flex justify-center mx-auto py-4">
            <ul class="flex" >
                {% if items.has_previous %}
                <li><a href="?page={{items.previous_page_number}}&q={{request.GET.q}}" class="align-middle h-10 py-2 px-5 rounded-md mx-6 text-blog-dary bg-white border border-blog-dary">前页</a></li>
                {% endif %}
                {% if items.has_next %}
                <li><a href="?page={{items.next_page_number}}&q={{request.GET.q}}" class="align-middle h-10 py-2 px-5 rounded-md mx-6 text-blog-dary bg-white border border-blog-dary">后页</a></li>
                {% endif %}
               
            </ul> 
        </div>
       
    </div>
    <!--右边栏 -->
    <div class="w-full bg-white p-2 md:w-1/4 ">
        <!--天气 -->
       {% weather %}
        <!--文章分类-->
       {% include 'core/categories.html' %}

        <!-- 最新文章 Latest posts-->
       {% include 'core/latest-posts.html' %}

     
        <!-- 热门标签 tags-->

    {% display_tags %}


    </div>
  </main>

{% endblock content %}